
body {
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font: 500 3rem "Tangerine";
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3{
  font: "Tangerine";
  color: blue
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3046C5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color: #8f77a5;
  padding: 20px 0;
}

.navbar-brand 
{
  font: 500 3rem "tangerine";
 
}

.navbar-dark {
  background-color: #8f77a5;
}

.full-screen-video-container {
  position: relative;
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/*Home Component Video*/

.full-screen-video-container video {
  z-index: -1;
  position: absolute;
  width: auto;
  height: 1200px;
  min-width: 50%;
  min-height:50%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);

}

.full-screen-video-content {
  font-size: 100px;
  margin-top: 20px;
  color:#8d6d11;
}

.full-screen-video-content> h1 {
  color:white;
  font-size: 100px;
  font-weight: 700;
  text-shadow: 1px 1px 2px purple, 0 0 25px pink;
}
/*
@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width:auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url('/src/images/croissant.png');
    background-size: cover,
  }
}*/

